.recipe_content{
    width: 100%;
    padding: 20px;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 30px;
    
}

.ttl_cake_oranje{
    color: rgb(209, 73, 20);
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 30px;
    
}

.ingredients{
    width:50%;
    margin-bottom:50px;
}

.ttl_txt{
    font-size: 30px;
    color:red;
    margin-bottom: 30px;
}
.list {
    text-align: left;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    box-sizing: border-box;
    width:90%;
}

.list li{
    text-align: left;
    margin-bottom: 20px;
    margin-left: 50px;
    font-size: 20px;
}

// .txt_ingredients{
//     margin-left: 50px;
// }

.model_prepare{
    width: 90%;
    margin-bottom: 50px;
    
    
}

.content_cake{
    display: flex;
    justify-content: flex-start;
    width: 80%;
    margin-bottom: 30px;
}

.cake{
    width:40%;
}

.content_link_recipe{
    width:80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: flex-start;
    text-align: left;
}

.link_recipe{
    display: flex;
    margin:40px 30px;
    text-align: left;
    font-size: 18px;
}

.link_recipe a{
    display: flex;
    flex-wrap: wrap;

    color: blue;
}

.link_recipe a:visited{
    color: blue;
}

.gallery_links{
    margin-top: 100px;
    display: flex;
    position: relative;
    width: 100%;
    color:white;
    text-decoration: none;
    font-size: 24px;
    margin-bottom: 30px;
}

.gallery_links div {
    width: 50%;
}

.link_left{
    text-align: left;
}

.link_right{
    text-align: right;
   
}
.gallery_links div a{
   
    text-decoration: none;
}

.gallery_links div a:visited {
    color:white;
   
}


@media screen and (max-width: 640px ){
    .cake{
        width:200px;
    }

    .list {
        width: 100%;
    }

    .list li{
        font-size: 14px;
    }

    
}


// .txt_prepare{
//     margin-left: 50px;
// }



