.footer-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 200px;
  margin-top: 50px;
  padding-top: 30px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000000), color-stop(70%), to(#0f0235));
  background-image: linear-gradient(to bottom, #000000, 70%, #0f0235);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 45%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footerlogo {
  margin-top: 20px;
  margin-right: 10px;
  width: 100px;
  height: 100px;
}

.footer-visualmark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-menu-bt {
  padding-top: 20px;
  width: 50%;
  height: 60px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
}

.footer-menu-bt a {
  color: #0b87ec;
}

.footer-item-menu {
  width: 20%;
  height: 50%;
}

.footertitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  color: white;
}

@media screen and (max-width: 520px) {
  .footer-block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 20px;
    padding-top: 50px;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    align-items: center;
    text-align: center;
    height: 250px;
  }
  .footer-block .description {
    width: 80%;
    height: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .footerlogo {
    width: 50px;
    height: 50px;
    margin-top: 0px;
  }
  .footertitle {
    text-align: center;
    display: inline;
    margin: 10px;
  }
  .footer-menu-bt {
    width: 100%;
    height: 50%;
    margin-top: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left;
  }
}
/*# sourceMappingURL=footer.css.map */