

$green-site : #09af00;
$clean-green-site:#61d800;
$light-green-site: #90ee02;

$blue: #021aee;
$light-blue: #ba00e5;
$purple: #714cfe;

$pink:#d602ee;
$pink-light: #e98df5;
$pink-site:#a200e0;

$orange: #ee6002;
$orange-light:#ff8d00;
$orange-brigth: #ffaf49;





